video{
	height: 300px;
}


/*BENTO BOX*/
.bento-box{
	margin:75px auto;
	width: 90%;
	height: 700px;;
	padding:1em;
	display: flex;
	gap:1em;
	overflow:hidden; /*pour que l'image ne deborde pas*/
	object-fit: cover;/*recadrage intelligent*/
  }
  .col-left{
	flex: 2;
	border-radius: 2em;
	display:flex;
	flex-direction:column;
	gap: 1em;
  }
  .row{
	flex:1;
	border: 2px solid red;
	border-radius:2em;
	overflow:hidden; /*pour que l'image ne deborde pas*/
	object-fit: cover;/*recadrage intelligent*/
  }
  .row3{
	display:flex;
	border:none;
	gap:1em;
  }
  .row-col{
	flex:1;
	border: 2px solid red;
	border-radius: 2em;
  }
  .col-right{
	flex:1;
	border-radius: 2em;
	display: flex;
	flex-direction: column;
	gap:1em;
  }