/*contenu*/

/*PREBLEME LARGEUR TROP GRANDE*/
#content{
	display:flex;
	justify-content: space-around;
}

#sidebar{
	float:left;
	width:15%;
}

#mugler{
	height:300px;
	position:relative;
	z-index: 1;
	left:50px;
}

#basterds{
	height: 200px;
	position:relative;
	z-index: 2;
	top:-100px;
	left:40px;
}

#pearls{
	width: 110%;
	position:relative;
	z-index: 2;
	top:-160px;
	left:-20px;
}

#frame{
	width: 90%;
	position:relative;
	z-index: 1;
	top:-340px;
	left:85px;
}

#laurynn{
	width: 50%;
	position:relative;
	z-index: 2;
	top:-430px;
	left:15px;
}

#title{
	font-family: Art-nuvo;
	text-align: center;
	color: pink;
	font-size: 50px;
	margin:20px 0 0 0;
	font-weight: bolder;
}

.piece a{
	text-decoration: underline;
	color:#123108;
}

.gallery-icons{
	display:grid;
	grid-template-areas:"top top"
	"bottom bottom";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 300px 300px;
	width: 70%;
	margin:100px 0;
	text-align: center;
}

#news1{
	z-index: 10;
	grid-area:top;
	width:50%;
}

#news2{
	z-index: 10;
	grid-area:top;
	width:50%;
}

#news3{
	z-index: 10;
	grid-area:bottom;
	width:50%;
}

#news4{
	z-index: 10;
	grid-area:bottom;
	width:50%;
}

#sidebar-right{
	height:500px;
	float:right;
	width:15%;
}

#azurasmar{
	height:200px;
	position:relative;
	z-index: 1;
	right:3px;
}

#seductive{
	height: 500px;
	position:relative;
	z-index: 2;
	top:-160px;
	right:45px;
}

#detectives{
	height: 200px;
	position:relative;
	z-index: 1;
	top:-430px;
	right:40px;
}

#budapest{
	width: 500px;
	position:relative;
	z-index: 2;
	top:-570px;
	right:260px;
}

#escarpo{
	width: 300px;
	position:relative;
	z-index: 3;
	top:-620px;
	right:50px;
}