/*contenu*/

#title{
	font-family: Art-nuvo;
	text-align: center;
	color:#db7c84;
	font-size: 3rem;
	font-weight: bolder;
}

.piece a{
	text-decoration: underline;
	color:#123108;
}

.piece a:hover{
	color:pink;
}

.gallery-icons{
	display:grid;
	grid-template-areas:"top top"
	"bottom bottom";
	gap:10rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 20rem;
	width: 90%;
	margin: 2rem auto;
	text-align: center;
}

#news1{
	z-index: 10;
	grid-area:top;
	width:70%;
}

#news2{
	z-index: 10;
	grid-area:top;
	width:70%;
}

#news3{
	z-index: 10;
	grid-area:bottom;
	width:70%;
}

#news4{
	z-index: 10;
	grid-area:bottom;
	width:70%;
}
h3{
	text-align: center;
}

#beyonce{
	display:block;
	width:12rem;
	margin:0 auto;
}

@media(max-width:1080px){
	.gallery-icons{
		grid-template-rows: 15rem;
	}
}

@media(max-width:900px){
	.gallery-icons{
		display:flex;
		flex-direction: column;
		z-index: 14;
		justify-content:center;
	}
}