.carde {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}

.content {
    display: flex;
    position: relative;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.3s ease-in-out;
}

.carte-body {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

.content img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    width: 45%;
    object-fit: contain;
}

.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 50%;
}

.text h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.text p {
    font-size: 1rem;
    line-height: 1.5;
}


.close-btn {
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Conteneur principal de la bento box */
.contain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bento-box {
    width: 80%;
    padding: 1em;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    height: auto;
}

.bento-box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.col-left {
    flex: 2;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.row0 {
    flex: 1;
    background-color: #aab687;
    border: 2px solid #aab687;
    overflow: hidden;
    border-radius: 2em;
}

.row1 {
    flex: 1;
}

.row2 {
    flex: 1.5;
}

.row3 {
    flex: 2;
}

.row4 {
    flex: 3;
}

.row-col {
    flex: 1;
    border: 2px solid red;
    border-radius: 2em;
}

.col-middle {
    flex: 1;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.col-right {
    flex: 1;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media screen and (max-width: 900px) {
    .bento-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        width: 95%;
        height: auto;
    }
}