#showcase{
	background-image:url('../pictures/green-mosaic.jpg');
	background-position: center right;
	min-height:300px;
	margin-bottom: 5px;
	text-align: center;
}

#showcase h1{
	color:#ccc;
	font-family: Art-nuvo;
	font-size:50px;
	line-height:1.6em;
	padding-top:150px;
}

#presentation{
	display:flex;
	margin-bottom: 50px;
}


#diabaicon{
	height:400px;
	margin: 10% 0 12.5% 40%;
}

#intro{
	opacity:0;
	bottom: 10%;
    left: 50%;
	margin:200px 10px 200px 1.3em;
	padding:0 30px;
	box-sizing:border-box;
	transition: opacity 0.3s ease-in-out; /* Transition fluide */
}

#intro.show {
	opacity:1
}

#intro h1{
	font-family:Art-nuvo;
}

#fond{
	width:100%;
	height:auto;
}

.my-form{
	width:45%;
	border:4px dotted #392423;
	padding:20px; 
	margin:100px auto;
	border-radius:15px;
	box-sizing:border-box;
}

.my-form h3{
	font-family: Art-nuvo;
	text-align:center;
	color:#db7c84;
}

.my-form .form-group{
	padding: 6px;
	border-bottom: dotted 1px #392423;
	padding-bottom:15px;
	list-style-image:url('../pictures/ribbon.png');
}

.my-form label{
	color:#aa6d6b;
}

.my-form input{
	margin-top: 10px;
	margin-right:45%;
	margin-right:45%;
}

.my-form .btn{
	margin-right:45%;
	margin-left:45%;
	border-radius: 15px;
}