#presentation{
	display:flex;
	float:right;
	width:70%;
	margin-bottom: 50px;
}

#diabaicon{
	width: 25%;
	align-self: center;
}

#intro{
	opacity:0;
	padding:30px;
	font-size: 1rem;
	box-sizing:border-box;
	transition: opacity 0.3s ease-in-out; /* Transition fluide */
}

#intro.show {
	opacity:1
}

#intro h1{
	font-family:Art-nuvo;
}

#fond{
	width:100%;
	height:auto;
}

.my-form{
	width:45%;
	border:4px dotted #392423;
	padding:20px; 
	margin:100px auto;
	border-radius:15px;
	box-sizing:border-box;
}

.my-form h3{
	font-family: Art-nuvo;
	text-align:center;
	color:#db7c84;
}

.my-form .form-group{
	display:flex;
	flex-direction: column;
	padding: 6px;
	color:#aa6d6b;
	border-bottom: dotted 1px #392423;
	padding-bottom:15px;
}

.my-form .btn{
	display: block;
	margin: 0.5rem auto;
	border-radius: 15px;
}

@media(min-width: 900px) and (max-width:1080px){
	#presentation{
		font-size: 1rem;
	}
	#diabaicon{
		margin: 10% auto;
	}
}

@media(max-width:900px){
	#presentation{
		display:flex;
		flex-direction: column;
		margin-bottom: 2.5rem;
		float: none;
		width:100%
	}
	
	#diabaicon{
		margin: 10% auto;
	}
	.my-form{
		width:70%;
	}
}