/* ---- Create Accordion --- */

.accordion{ 
  max-width: 1090px;
  border-radius: 15px;
  height: 340px;
  display: flex;
  overflow: hidden;
  margin: 50px auto;
}

.tab{
  position: relative;
  border-radius: 15px;
  width: 17%;
  height: inherit;
  padding: 20px;
  background: #392423;
  color: #FFF;
  cursor: pointer;
  transition: width .5s ease;
}

.tab img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;   
  transition: all .5s ease;
}

.caption{
  position:absolute;
  width: 20%;
  z-index: 2;
  white-space: nowrap;
  top: 10px;
  opacity: 0;
}

.caption h2{
  margin-bottom: 2px;
  margin-top:10px;
  text-overflow:clip;
  color:#DB7C84;
  font-size:24px;
  text-transform:uppercase;
}

.caption p{
  margin: 0;
  width: 90%;
  font-size: 15px;
  font-family: 'Open Sans';
  font-size: .9rem;
}

/* --- Hover Effects --- */

.tab:hover img{
  opacity:0;
}

.tab:hover{
  width: 250%;
}

.tab:hover .caption{
  transition: all .5s ease;
  opacity: 1;
}

/*tab*/

.reminder h2{
	text-align:center;
	margin-top:50px;
	font-family: Art-nuvo;
	color: #db7c84;
}

.reminder{
	width: 40%;
	margin:20px auto;
}