/*HOVER INFO*/
.disabled-link {
  cursor: default;
  opacity: 0.6;
}

.project-card {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.project-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* voile noir */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  text-align: center;
  font-size: 0.8rem;
}

.project-card:hover img {
  transform: scale(1.05); /* zoom léger */
}

.project-card:hover .overlay {
  opacity: 1;
}

.project-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
  padding: 0.5rem;
}

/* DISPOSITION BENTO*/
.highlight {
  color: #db7c84;
}

.project-img,
.project-video {
  transition: transform 0.5s ease;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(185, 131, 255, 0.2);
  cursor: pointer;
}

.section-title {
  font-weight: 600;
  font-size: 2rem;
}

.back-link {
  color: #db7c84;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}

video {
  width: 100%;
}

#cv {
  margin-left: 30%;
  width: 80%;
  min-width: 300px;
  height: auto;
  z-index: 2;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1024px) {
  #front {
    display: flex;
    flex-direction: column;
    margin: 10px 10%;
    gap: 50px;
  }

  #cv {
    margin-left: 0px;
  }

  #diabaicon {
    margin: 10% auto;
    /* Centrer sur les petits écrans */
  }

  #intro2 {
    margin: 0 auto;
    padding: 20px;
  }

  #works {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  #works div {
    width: 50%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  #presentation2 {
    flex-direction: column;
    text-align: center;
  }

  #diabaicon {
    height: 200px;
  }

  #flowerbg {
    opacity: 0.7;
    /* Plus visible sur petits écrans */
  }
}
