@font-face{
	font-family: Art-nuvo;
	src: url(../fonts/FontsFree-Net-Art-nuvo.ttf)
}

@font-face{
	font-family: Playfair-display;
	src: url(../fonts/FontsFree-Net-PlayfairDisplay6woff2.ttf)
} 
  
body{
	margin: 0;
	padding: 0;
	overflow-x: hidden; /* Prevent horizontal scrolling */
	background-color: #FFFEEF;
	color:black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: clamp(0.8rem, 2vw, 1rem); /* Adaptatif selon la taille de l'écran */
    line-height: 1.8; /* Lisibilité accrue */
	margin:0;
}

.title{
	font-family: Art-nuvo;
	text-align: center;
	color:#db7c84;
	font-size: 3rem;
	font-weight: bolder;
}

/*LIENS*/
a{
	text-decoration: none;
	color:white;
}
/* color:darkseagreen; */

a:hover{
	color:pink;
}

footer a{
	text-decoration: none;
	color:white;
}

footer a:hover{
	color:pink;
}

a:active{
	color:coral;
}

a:focus {
    outline: 2px dashed #db7c84;
    outline-offset: 4px;
}

/*FIL DARIANE*/
.fildAriane{
	margin-left: 5%;
}
.fildAriane a{
	color: black;
}
.fildAriane a:hover{
	color: pink;
}

/*BUTTONS*/
.btn{
	font-size: 0.8rem;
	font-weight: 700;
	background-color:#333;
	color:#fff;
	padding:10px 15px;
	margin:auto;
	border:none;
	cursor: pointer;
	transition: transform 0.3s ease 0s, background-color 0.3s, color 0.3s;
}

.btn:hover{
	transform:translateY(-5px);
	background:white;
	color:pink;
}

#scrollTopBtn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index:9999;
	background-color: #333;
	border-radius: 50%;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: opacity 0.3s ease;
}

#scrollTopBtn:hover {
	background-color: #ff69b4;
}


/*CENTRAGE*/
.container{
	width:90%; /*A  80 sur library*/
	max-width: 1200px;
	margin:auto;
	overflow: hidden;
}

/*the real deal*/

#working{
	z-index:1;
	align-items: center;
	text-align: center;
	width: 40%;
	color: #333;
	margin: 100px auto;
}

#working h1{
	font-family: Art-nuvo;
	font-size: 2rem;
	color: #333;
}

#working img{
	width:70%;
}

#mentions, #propos{
	width:60%;
	margin: 100px auto;
}

#mentions h1, #propos h1{
	text-align: center;
	font-family: Art-nuvo;
	font-size: 2rem;
	color:#db7c84;
}